:root {
    background-color: #EBEEF5;
    --secondary-color: #F7F6FF;
    --nav-font-color: #C4C4C4;
    --font-color:#02577A;
}

body,
body *  {
    width: 1440px;
    padding: 0;
    margin:0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}