.nav-container {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 906px;
    background-color: var(--secondary-color);
}

.link-name {
    text-decoration: none;
    color: var(--font-color);
    font-size: 16px;
}

.logo {
    width: 68px;
    height: 34px;
    margin-top: 52px;
    margin-left: calc(50% - 34px);
}

.divider {
    border-bottom: 2px solid #C4C4C4;
    width: 60%;
    margin-top: 24px;
    margin-left: 20%;
}

.house-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 89%;
    height: 58px;
    margin-top: 42px;
    margin-left: 11%;
    border-radius: 25px 0px 0px 25px;
}

.house-icon {
    width: 25px;
    height: 25px;
}

.house-wrapper > .link-name {
    position: absolute;
    left: 81px;
}

.calendar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid 2px red;
    margin-top: 34px;
}

.calendar-icon {
    width: 25px;
    height: 25px;
}

.calendar-wrapper > .link-name {
    position: absolute;
    left: 81px;
    color: var(--nav-font-color);
}

.cube-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid green;
    margin-top: 34px;
}

.cube-icon {
    width: 25px;
    height: 25px;
}

.cube-wrapper > .link-name {
    position: absolute;
    left: 81px;
    color: var(--nav-font-color);
}
.controler-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid rgb(128, 0, 119);
    margin-top: 34px;
}

.controler-icon {
    width: 40px;
    height: 25px;
}

.controler-wrapper > .link-name {
    position: absolute;
    left: 81px;
    color: var(--nav-font-color);
}