.nav-container {
    width: 100px;
    height: 906px;
    background-color: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.nav-container > .logo-wrapper > .logo {
    width: 68px;
    position: absolute;
    top: 52px;
    left: 16px;
}

.nav-container > .divider {
    position: absolute;
    width: 62px;
    border-bottom: 2px solid #C4C4C4;
    top: 110px;
    left: calc(50% - 31px);
}

.house-wrapper {
    background-color: #FFFFFF;
    border-radius: 25px 0px 0px 25px;
    top: 142px;
    position: absolute;
    left: 20px;
    height: 50px;
    width: 80px;
}

.house-wrapper > .house-icon {
    position: absolute;
    width: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.house-wrapper > .house-description {
    display: none;
    position: absolute;
    font-style: normal;
    font-size: 16px;
    line-height: 19.5px;
    color: var(--font-color);
    top: 50%;
    left: 75%;
    transform: translate(0%, -50%);
} 

.calendar-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 233px;
    left: 37px;
}

.calendar-description {
    display: none;
    position: absolute;
    font-style: normal;
    font-size: 16px;
    line-height: 19.5px;
    color: var(--nav-font-color);
    left: 81px;
    top: 236px;
}

.cube-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 292px;
    left: 37px;
}

.cube-description {
    display: none;
    position: absolute;
    font-style: normal;
    font-size: 16px;
    line-height: 19.5px;
    text-transform: uppercase;
    color: var(--nav-font-color);
    left: 81px;
    top: 295px;
}

.control-icon {
    position: absolute;
    width: 40px;
    height: 25px;
    top: 351px;
    left: 30px;
}

.control-description {
    display: none;
    position: absolute;
    font-style: normal;
    font-size: 16px;
    line-height: 19.5px;
    text-transform: uppercase;
    color: var(--nav-font-color);
    left: 89px;
    top: 354px;
}

.footer-wrapper {
    position: absolute;
    top: 871px;
    width: 346px;
    left: 547px;
    border-top: 1px solid var(--font-color);
}

.footer-description {
    font-size: 11px;
    line-height: 13px;
    color: var(--font-color);
    padding-top: 11px;
    width: 100%;
    text-align: center;
}
