.nav-wrapper {
width: 100px;
background-color: #F7F6FF;
}
.nav-wrapper > .logo {

}

.nav-wrapper > .home {

}
.nav-wrapper > .home > {

}
.nav-wrapper > .calendar {

}
.nav-wrapper > .fe {

}
.nav-wrapper > .games {

}

.footer-wrapper {
text-align: center;
}



